h1 {
  color: blue;
}

p {
  color: green;
}

.first {
  background-color: #DAE2CA;
}

.second {
  color: black;
  background-color: #BCFF8F;
}

.third {
  background-color: #DFF4FC;
}

em {
  color: red;
}

u {
  color: yellow;
  background-color: red;
}
